<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <file name="file" filename="mylog.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
        </file>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{ %d{dd MMM yyyy HH:mm:ss.SSS} %style{%-5level}{bright,cyan} [%t] [Class : %c{1}] %logger{36} - %m%n}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef level="ERROR" ref="file"/>
        </Root>
    </Loggers>
</Configuration>