<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <file name="file" filename="logs/mylog.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
        </file>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{ %d{dd MMM yyyy HH:mm:ss.SSS} %-5level [%t] [Class : %c{1}] - %m%n}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
        </RollingFile>
        <JDBC name="databaseAppender" tableName="log_management.logs">
            <ConnectionFactory class="ConnectionFactory" method="getConnection" />
            <Column name="pk_log_managementId" pattern="%uuid{TIME}" />
            <Column name="timeid" pattern="%d{dd MMM yyyy HH:mm:ss}" />
            <Column name="message" pattern="%message" />
            <Column name="loglevel" pattern="%level" />
            <Column name="packageName" pattern="%c{1}" />
            <Column name="logger" pattern="%logger" />
            <Column name="logtimestamp" isEventTimestamp="true" />
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef level="ERROR" ref="file"/>
            <AppenderRef level="ERROR" ref="databaseAppender"/>
            <AppenderRef level="INFO" ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>